
config MTK_EPL2570
	bool "epl2570 for MediaTek package"
	default n
	help
	It support different type sensor
	in this platform. If this option
	is set, it will support ambient
	and light sensor epl2570.
