
config MTK_LTR553_SUB
	bool "ltr553 sub for MediaTek package"
	default n
	help
	It support different type sensor
	in this platform. If this option
	is set, it will support ambient
	and light sensor ltr553.
